@use "./variables" as *; // `as *`를 사용하면 기존 변수처럼 사용 가능s
// ===============================
// 🏠 전체 페이지 스타일
// ===============================

body {
    font-family: 'Arial', sans-serif;
    background: $primary-bg;
    margin: 0;
    padding: 0;
    @include flex-center;
    height: 100vh;
}

// ===============================
// 🔳 상단 타이틀 바 (안전신호등)
// ===============================

.titleBarTop {
    position: fixed;
    width: 100vw;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    background-color: $secondary-bg2;
    color: $text-color;
    font-size: 2rem;
    top: 20px;
    font-weight: bold;
    padding: 10px 0;
    box-shadow: 3px 2px 5px $shadow-color;
    z-index: 999;
}
