@use "./variables" as *;
@use "./common";

.overallLayout{
    width: 100%;
    height: 100%;
}
//  대시보드 스타일
.dashboard {
    display: flex;
    justify-content: center;
    gap: $gap;
    padding-top: 115px;
}

// 개별 데이터 컨테이너 스타일
.dataContainer {
    width: 650px;
    height: 500px;
    background: $headerFontColor2;
    border-radius: $border-radius;
    box-shadow: $button-hover-shadow;
    text-align: center;
}
.selectionTitle{
    position: relative;
    background-color: $secondary-bg2;
    box-shadow: $button-hover-shadow;
    width: 100%;
    height: 40px;
    line-height: 42px;
    margin-top: 20px;
}


.smallData{
    border: 1px solid $text-color4;
    margin-top: 13px;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 130px;
    background: $secondary-bg2;
    border-radius: $border-radius;
    box-shadow: $button-hover-shadow;
}
.label{
    background: $secondary-bg4;
    box-shadow: $button-shadow;
    border-radius: $border-radius3;
    color: $text-color2;
    display: inline-block;
    position: relative;
    width: 90%;
    height: 27px;
    line-height: 27px;
    margin: 3px;
    border: 1px solid $text-color4;
}
.labelBigData{
    background: $secondary-bg4;
    box-shadow: $button-shadow;
    border-radius: $border-radius3;
    color: $text-color2;
    display: inline-block;
    position: relative;
    width: 96%;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    border: 1px solid $text-color4;
}
.dataContainer02{
    border: 1px solid $text-color4;
    margin-top: 13px;
    position: relative;
    background: $secondary-bg2;
    border-radius: $border-radius;
    box-shadow: $button-hover-shadow;
    width: 95%;
    height: 50%;
    justify-content: center;
    transform: translate(-50%, 0%);
    left: 50%;
}

.crimebgColor{
    background-color: $crimebgColor2;
}
.accidentbgColor{
   background-color: $accidentbgColor2; 
}
.weatherbgColor{
    background-color: $weatherbgColor2;
}
