// 전체 배경 색상 (그라데이션 적용)
$primary-bg: linear-gradient(#ffffff85, #b8b8b827, #90909026);

//content 사이 값
$gap:40px;
$gap2:20px;

//포인트 컬러
$crimebgColor: #F9AFAF;
$accidentbgColor: #F3E796;
$weatherbgColor: #A7EEDA;
$crimebgColor2: #f9afaf40;
$accidentbgColor2: #f3e7963d;
$weatherbgColor2: #a7eeda31;
$borderColor: #dedede;
$headerFontColor: #AEAEAE;
$headerFontColor2:#aeaeae1e;
$headerPointColor: #d9d9d9;



// 컨텐츠(박스) 배경 색상
$secondary-bg: #ffffff;
$secondary-bg2: #ffffffb6;
$secondary-bg3: #ffffff7c;
$secondary-bg4: #9e9e9e1e;

// 버튼 기본 스타일
$button-bg: #ffffffcb;
$button-border: #ccc;
$button-hover-bg: #d6d6d6;

// 버튼 박스 쉐도우 변수 
$button-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2); // 기본 박스 쉐도우
$button-hover-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); // 호버 시 더 진한 그림자
$button-active-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4); // 클릭 시 안쪽 그림자

// 버튼 텍스트 쉐도우 변수 
$text-shadow-default: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.119); // 기본 텍스트 쉐도우
$text-shadow-hover: 0px 0px 20px rgb(255, 255, 255); // 호버 시 텍스트 쉐도우
$text-shadow-active: 1px 1px 2px rgba(0, 0, 0, 0.6); // 클릭 시 텍스트 쉐도우


// 텍스트 색상
$text-color: #333333b6;
$text-color2:#3333335c;
$text-color3:#ffffffb5;
$text-color4:#6e6e6e2a;

// 제목 및 박스 배경 색상
$title-bg: #ddd;
$shadow-color: rgba(0, 0, 0, 0.2);
$border-radius: 10px;
$border-radius2: 5px;
$border-radius3: 10px 10px 0px 0px;

// 🔄 Mixin: 자주 사용하는 스타일
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
