@use "./mixin"as *;


@mixin titleHead() {
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: var(--boxPadding);
    background-color: var(--white);
}

@mixin flexSpace() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin titleStyle() {
    background: #fcfcef;
    border-radius: 10px 10px 0 0;
    box-shadow: inset 0px 3px 3px #dadada;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

@mixin textStyle() {
    text-align: center;
    font-size: var(--middleFontSize);
    color: var(--black300);
    padding: 5px 20px;
}
@mixin graphBorder() {
    border-radius: var(--boxBorder);
    box-shadow: inset 0 0 3px #d2d1d1;

}
.accident {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background: linear-gradient(var(--accidentbgColor));
    padding: var(--commonPadding);

    @media(max-width:1200px) {
        min-height: 100vh;
        height: auto;
    }

    @media(max-width:800px) {
        padding: 7.7rem 1rem 1rem;
    }

    @media(max-width:500px) {
        padding: 12rem 1rem 1rem;
    }

    .accWrap {
        margin: 0 auto;
        height: 100%;
        max-width: 150rem;
        display: flex;
        gap: var(--gapSize);
        // overflow: hidden;

        @media(max-width:1200px) {
            flex-direction: column;
            align-items: center;
        }

        .accGraphWrap {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gapSize);

            //  min-width: 500px;
            @media(max-width:1200px) {
                width: 100%;
            }

            .acYearBox {
                @include titleHead();
                height: 50%;

                .acYearTitle {
                    border: 1px solid var(--borderColor);
                    margin-bottom: 10px;
                    @include titleStyle();

                    p {
                        @include textStyle();
                    }
                }

                .acYearGraph {
                    // border: 1px solid var(--borderColor);
                    @include graphBorder();
                    height: 83%;
                    min-height: 200px;
                    // height: auto;
                }
            }

            .acTrafficBox {
                @include titleHead();
                height: 50%;

                .TrafficTitle {
                    border: 1px solid var(--borderColor);
                    margin-bottom: 10px;
                    @include titleStyle();

                    p {
                        @include textStyle();
                    }
                }

                .TrafficGraph {
                    // border: 1px solid var(--borderColor);
                     @include graphBorder();
                    min-height: 200px;
                    height: 83%;
                    // height: auto;
                }
            }

        }

        .accChartWrap {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gapSize);

            @media(max-width:1200px) {
                width: 100%;
            }

            .acCount {
                height: 20%;
                display: flex;
                justify-content: space-between;
                gap: var(--gapSize);

                .numOfDeathBox {
                    @include titleHead();
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .acDeathTitle {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 0.5rem;

                        .deathImg {
                            width: 3rem;
                            margin: 0 10px;
                            filter: drop-shadow(1.7px 1.7px 1.2px #3333337e);
                        }

                        p {
                            @include textStyle();
                            font-size: 2rem;

                            @media(max-width:1500px) {
                                font-size: 1.6rem;
                            }

                            @media(max-width:1400px) {
                                font-size: 1.4rem;
                            }

                            @media(max-width:1300px) {
                                font-size: 1.6rem;
                            }

                            @media(max-width:600px) {
                                font-size: 1.1em;
                                padding: 0;
                            }
                        }
                    }

                    .deathCont {
                        border: 1px solid var(--borderColor);
                        border-radius: 1rem;
                        background: #fcfcef;
                        box-shadow: inset 0px 3px 3px #dadada;

                        .numOfDeath {
                            text-align: center;
                            font-size: 2rem;
                        }
                    }
                }

                .numOfAccBox {
                    @include titleHead();
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .acAccTitle {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 0.5rem;

                        .accImg {
                            width: 3rem;
                            margin: 0 10px;
                            filter: drop-shadow(1.7px 1.7px 1.2px #3333337e);
                        }

                        p {
                            @include textStyle();
                            font-size: 2rem;

                            @media(max-width:1500px) {
                                font-size: 1.6rem;
                            }

                            @media(max-width:1400px) {
                                font-size: 1.4rem;
                            }

                            @media(max-width:1300px) {
                                font-size: 1.6rem;
                            }

                            @media(max-width:600px) {
                                font-size: 1.1em;
                                padding: 0;
                            }
                        }
                    }

                    .accCont {
                        border: 1px solid var(--borderColor);
                        border-radius: 1rem;
                        background: #fcfcef;
                        box-shadow: inset 0px 3px 3px #dadada;

                        .numOfAcc {
                            text-align: center;
                            font-size: 2rem;
                        }
                    }
                }
            }

            .accidentType {
                height: 40%;

                .acTypeBox {
                    height: 100%;
                    @include titleHead();

                    .acTypeTitle {
                        border: 1px solid var(--borderColor);
                        margin-bottom: 10px;
                        @include titleStyle();

                        p {
                            @include textStyle();
                        }
                    }

                    .acTypeGraph {
                        // border: 1px solid var(--borderColor);
                         @include graphBorder();
                        height: 77%;
                    }
                }
            }

            .LawViolation {
                height: 40%;

                .acLawBox {
                    @include titleHead();
                    // flex: 1;
                    height: 100%;

                    .acLawTitle {
                        border: 1px solid var(--borderColor);
                        margin-bottom: 10px;
                        @include titleStyle();

                        p {
                            @include textStyle();
                        }
                    }

                    .acLawGraph {
                        // border: 1px solid var(--borderColor);
                         @include graphBorder();
                        height: 77%;
                    }
                }
            }


        }
    }
}


// ====== 유진 추가 (0225_화 23:40) ======

@media (max-width: 700px) {

    // === Page BackGround Color ===
    .accident {
        background: #fff !important;
    }

    // === Box BackGround Color ===
    .accident .accWrap .accGraphWrap .acYearBox,
    .accident .accWrap .accGraphWrap .acTrafficBox,
    .accident .accChartWrap .acCount .numOfAccBox,
    .accident .accChartWrap .acCount .numOfDeathBox,
    .accident .accChartWrap .accidentType .acTypeBox,
    .accident .accChartWrap .LawViolation .acLawBox {
        background: #fcf9ea !important;
    }

    // === Title Box Color ===
    .accident .accWrap .accGraphWrap .acYearBox .acYearTitle p,
    .accident .accWrap .accGraphWrap .acTrafficBox .TrafficTitle p,
    .accident .accWrap .accChartWrap .accidentType .acTypeBox .acTypeTitle p,
    .accident .accWrap .accChartWrap .LawViolation .acLawBox .acLawTitle p,
    .accident .accWrap .accChartWrap .acCount .numOfAccBox .numOfAcc,
    .accident .accWrap .accChartWrap .acCount .numOfDeathBox .deathCont {
        @include titleStyle();
        background: #fffff9;
    }
}

@media (max-width: 500px) {

    // 왜 해당 값을 해야 맞을까요 .. ??  여튼 되었으니 마무리 (유진 메모)
    .accident {
        padding: 11rem 1rem 1rem !important;
    }
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///                                      css 세부 수정하면 좋을 사항                                                           ///
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.acYearBox, .acTrafficBox, .numOfAccBox , .numOfDeathBox, .acTypeBox , .acLawBox{
    border: 0.1rem solid rgba(255, 209, 100, 0.838);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0.18rem 0.18rem 0.5rem rgba(234, 190, 13, 0.844), inset 0 0 0.4rem rgba(207, 145, 11, 0.89) ;
}
.acYearGraph, .acTypeGraph, .acLawGraph, .TrafficGraph{
    border-radius: 0 0 10px 10px !important;
    background-color: #fffef069;
    border: 0.18rem solid rgb(255, 255, 255);
    box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(171, 118, 13, 0.305) !important;
}
.numOfAcc, .numOfDeath{
    
    height: 7.5vh !important;
    background-color: #fffcdc69;
    border-radius: 10px !important;
    line-height: 7.5vh;
    border: 0.5px solid rgba(204, 142, 26, 0.267);
    box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(171, 118, 13, 0.305) !important;
}

.acYearTitle p{background-color: #ffe7aa74 !important;
                border-radius: 10px 10px 0 0;}
.TrafficTitle p{background-color: #ffe7aa74 !important;
    border-radius: 10px 10px 0 0;}
.acTypeTitle p{background-color: #ffe7aa74 !important;
    border-radius: 10px 10px 0 0;}
.acLawTitle p{background-color: #ffe7aa74!important;
    border-radius: 10px 10px 0 0;}


/////////////////////////////////////////////////////////
///         그래프 색상 그라데이션 분류                 //
/////////////////////////////////////////////////////////


 
