@mixin titleHead() {
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: var(--boxPadding);
    background-color: var(--white);
}

.accident {
    //background: linear-gradient(var(--accidentbgColor));
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 10rem;
    height: 100vh;
    @include flexSet;
    flex-direction: row;
    gap: var(--gapSize);

    .accGraphWrap {
        @include flexSet;
        gap: var(--gapSize);
        flex: 2.4;
        height: 100%;
        padding: 5rem 0;
        .acYearBox {
            @include titleHead();
            width: 100%;
            // min-height: 40vh;
            flex:1;
            .acYearTitle {
                background-color: rgba(217, 217, 217, 0.14);
                border: 1px solid var(--borderColor);
                border-radius: 10px 10px 0 0;
                margin-bottom: 10px;
                p {
                    text-align: center;
                    font-size: var(--bigFontSize);
                    color: var(--headerFontColor);
                }
            }
            .acYearGraph {
                border: 1px solid var(--borderColor);
                // width: 80rem;
                // height: 25rem;
            }
        }
        .acTrafficBox {
            @include titleHead();
            width: 100%;
            flex:1;
            // height: 40vh;
            .TrafficTitle {
                background-color: rgba(217, 217, 217, 0.14);
                border: 1px solid var(--borderColor);
                border-radius: 10px 10px 0 0;
                margin-bottom: 10px;
                p {
                    text-align: center;
                    font-size: var(--bigFontSize);
                    color: var(--headerFontColor);
                }
            }
            .TrafficGraph {
                border: 1px solid var(--borderColor);
                // width: 80rem;
                // height: 25rem;
            }
        }

    }

    .accChartWrap {
        @include flexSet;
        gap: var(--gapSize);
        height: 100%;
        flex: 1;
        padding: 5rem 0;
        .acCount {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: var(--gapSize);
            flex: 1;
            .numOfDeathBox {
            @include titleHead();
            flex: 1;
                .acDeathTitle {
                    background-color: rgba(217, 217, 217, 0.14);
                    border: 1px solid var(--borderColor);
                    border-radius: 10px 10px 0 0;
                    margin-bottom: 10px;
                    p {
                    text-align: center;
                    font-size: var(--middleFontSize);
                    color: var(--headerFontColor);
                    padding: 5px 20px;
                } 
                }
                .numOfDeath {
                    text-align: center;
                    font-size: var(--bigFontSize);
                 }
            }
            .numOfAccBox {
            @include titleHead();
            flex: 1;
                .acAccTitle {
                      background-color: rgba(217, 217, 217, 0.14);
                    border: 1px solid var(--borderColor);
                    border-radius: 10px 10px 0 0;
                    margin-bottom: 10px;
                    p {
                    text-align: center;
                    font-size: var(--middleFontSize);
                    color: var(--headerFontColor);
                    padding: 5px 20px;
                    }
                }
                .numOfAcc {
                    text-align: center;
                    font-size: var(--bigFontSize); 
                }
            }
        }
        .accidentType {
            width: 100%;
            flex:1;
            display: flex;
            justify-content: center;
            align-items: stretch;
            .acTypeBox {
                flex:1;
                @include titleHead();
                .acTypeTitle {
                      background-color: rgba(217, 217, 217, 0.14);
                    border: 1px solid var(--borderColor);
                    border-radius: 10px 10px 0 0;
                    margin-bottom: 10px;
                    p {
                    text-align: center;
                    font-size: var(--middleFontSize);
                    color: var(--headerFontColor);
                    padding: 5px 20px;
                    } 
                }
                .acTypeGraph {
                    border: 1px solid var(--borderColor);
                    // width: 32.5rem;
                    // height: 15rem;
                }
            }
        }
        .LawViolation {
            width: 100%;
            flex:1;
             display: flex;
            justify-content: center;
            align-items: stretch;
            .acLawBox {
                @include titleHead();
                flex:1;
                
                .acLawTitle {
                    background-color: rgba(217, 217, 217, 0.14);
                    border: 1px solid var(--borderColor);
                    border-radius: 10px 10px 0 0;
                    margin-bottom: 10px;
                    p {
                    text-align: center;
                    font-size: var(--middleFontSize);
                    color: var(--headerFontColor);
                    padding: 5px 20px;
                    } 
                }
                .acLawGraph {
                    border: 1px solid var(--borderColor);
                    // width: 32.5rem;
                    // height: 15rem;
                }
            }
        }
    }
}