@use "./mixin" as *;


@mixin titleHead() {
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: var(--boxPadding);
    background-color: var(--white);
}
@mixin flexSpace() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@mixin titleStyle() {
    background: #eff5f5;
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0px 3px 3px #dadada;
}
@mixin textStyle() {
    text-align: center;
    font-size: var(--middleFontSize);
    color: var(--black300);
    padding: 5px 20px; 
}
.accident {
    width: 100%;
    background: linear-gradient(var(--accidentbgColor));
    padding: var(--commonPadding);
    height: 100vh;
    overflow: auto;
    
    .accWrap{
        margin: 0 auto;
        max-width: 150rem;
        width: 100%;
        // height: 100%;
        display: flex;
        flex-direction: row;
        // justify-content: center;
        gap: var(--gapSize);

  
        .accGraphWrap {
            @include flexSet;
            gap: var(--gapSize);
            flex:2;
            // height: 100%;
            min-width: 300px;

            .acYearBox {
                @include titleHead();
                width: 100%;
                // min-height: 40vh;
                height:50%;

                .acYearTitle {
                    border: 1px solid var(--borderColor);
                    margin-bottom: 10px;
                    @include titleStyle();
                    p {
                        @include textStyle();
                    }
                }

                .acYearGraph {
                    border: 1px solid var(--borderColor);
                    width: 100%;
                    height: 83%;
                    // width: 80rem;
                    // height: 25rem;
                }
            }

            .acTrafficBox {
                @include titleHead();
                width: 100%;
                height: 50%;

                // height: 40vh;
                .TrafficTitle {
                    border: 1px solid var(--borderColor);
                    margin-bottom: 10px;
                    @include titleStyle();

                    p {
                        @include textStyle();
                    }
                }

                .TrafficGraph {
                    border: 1px solid var(--borderColor);
                    width: 100%;
                    height: 83%;
                    // width: 80rem;
                    // height: 25rem;
                }
            }

        }

        .accChartWrap {
            @include flexSet;
            gap: var(--gapSize);
            // height: 100%;
            flex:1;
            .acCount {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: var(--gapSize);
                height: 20%;

                .numOfDeathBox {
                    @include titleHead();
                    height: 100%;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .acDeathTitle {
                        @include flexSet();
                        flex-direction: row; 
                        margin-bottom: 0.5rem;
                        .deathImg {
                            width: 3rem;
                            margin:0 10px;
                            filter: drop-shadow(1.7px 1.7px 1.2px #3333337e);
                        }
                        p {
                            @include textStyle();
                            font-size: 2rem;
                            @media(max-width:1500px) {
                                font-size: 1.5rem;
                            }
                            @media(max-width:1400px) {
                                font-size: 1.1rem;
                            }
                            @media(max-width:1024px) {
                                font-size: 2rem;
                            }
                             @media(max-width:600px) {
                                font-size: 1.1em;
                                padding: 0;
                            }
                        }
                    }
                    .deathCont {
                        border: 1px solid var(--borderColor);
                        border-radius: 1rem;
                        background: #eff5f5;
                        box-shadow: inset 0px 3px 3px #dadada;

                        .numOfDeath {
                            text-align: center;
                            font-size: 2rem;
                        }
                    }
                }

                .numOfAccBox {
                    @include titleHead();
                    height: 100%;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .acAccTitle {
                        @include flexSet();
                        flex-direction: row;
                        margin-bottom: 0.625rem;
                        .accImg {
                            width: 3rem;
                            margin:0 10px;
                            filter: drop-shadow(1.7px 1.7px 1.2px #3333337e);
                        }
                        p {
                            @include textStyle();
                            font-size: 2rem;
                             @media(max-width:1500px) {
                                font-size: 1.5rem;
                            }
                            @media(max-width:1400px) {
                                font-size: 1.1rem;
                            }
                             @media(max-width:1024px) {
                                font-size: 2rem;
                            }
                             @media(max-width:600px) {
                                font-size: 1.1em;
                                padding: 0;
                            }
                        }
                    }
                    .accCont{
                        border: 1px solid var(--borderColor);
                        border-radius: 1rem;
                        background: #eff5f5;
                        box-shadow: inset 0px 3px 3px #dadada;
                        .numOfAcc {
                            text-align: center;
                            font-size: 2rem;
                        }
                    }   
                }
            }
            
            .accidentType {
                width: 100%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: stretch;

                .acTypeBox {
                    width: 100%;
                    height: 100%;
                    @include titleHead();

                    .acTypeTitle {
                        border: 1px solid var(--borderColor);
                        margin-bottom: 10px;
                        @include titleStyle();

                        p {
                            @include textStyle();
                        }
                    }

                    .acTypeGraph {
                        border: 1px solid var(--borderColor);
                        width: 100%;
                        height: 77%;
                        // @include flexSet();
                        // overflow-y: scroll;
                        // width: 32.5rem;
                        // height: 15rem;
                    }
                }
            }

            .LawViolation {
                width: 100%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: stretch;

                .acLawBox {
                    @include titleHead();
                     width: 100%;
                    height: 100%;
                    // flex: 1;

                    .acLawTitle {
                        border: 1px solid var(--borderColor);
                        margin-bottom: 10px;
                        @include titleStyle();

                        p {
                            @include textStyle();
                        }
                    }

                    .acLawGraph {
                        border: 1px solid var(--borderColor);
                        width: 100%;
                        height: 77%;
                        // width: 32.5rem;
                        // height: 15rem;
                    }
                }
            }
        }
        @media(max-width:1024px) {
            flex-direction: column;
            align-items: normal;
            margin: 50px 0;
        }      
        @media(max-width:850px) { 
            flex-direction: column;
            align-items: normal;
            margin: 50px 0;
        }
    }
}