@import url("./_vars.scss");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin titleHead() {
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: var(--boxPadding);
    background-color: var(--white);
}

@mixin crimeBorder {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@mixin textBox {
    border-radius: 10px;
    padding: var(--boxPadding);
    font-size: var(--smallFontSize);
    color: var(--black300);
    background-color: var(--white100);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@mixin crimeTitleStyle() {
    background: #f7e8e8;
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0px 3px 3px #dadada;
}

@mixin graphBorder {
    box-shadow: inset 0 0 3px #d2d1d1;
    border-radius: var(--boxBorder);
    -webkit-border-radius: var(--boxBorder);
    -moz-border-radius: var(--boxBorder);
    -ms-border-radius: var(--boxBorder);
    -o-border-radius: var(--boxBorder);
}

#main {
    background: var(--crimebgColor);
}

// 제일 큰 박스! 다 감싸는 박스

.crMainWrapper {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background: var(--crimebgColor);
    padding: var(--commonPadding);

    .crMainArea {
        margin: 0 auto;
        height: 100%;
        max-width: 150rem;
        overflow: hidden;

        //패딩 적용 후 남은 영역(2번째 제일 큰 박스)
        .crInnerMainArea {
            width: 100%;
            height: 100%;

            // 위쪽 부분!! 
            .crUpsideArea {
                width: 100%;
                display: flex;
                height: 50%;
                margin-bottom: 1rem;

                //위쪽 부분 중에 왼쪽 부분
                .crUpLeftSideArea {
                    width: 60%;
                    height: 100%;

                    //위쪽 부분에서 왼쪽의 위 부분. 2개를 감싸는 부분
                    .crUpLeftSide2Area {
                        height: 20%;
                        display: flex;
                        margin-bottom: 1%;

                        .crUp2Area1 {
                            background-color: var(--white);
                            display: flex;
                            @include crimeBorder();
                            align-items: center;
                        }

                        .crUp2Area2 {
                            background-color: var(--white);
                            margin-left: 1rem;
                            display: flex;
                            align-items: center;
                            @include crimeBorder();
                        }

                    }

                    // 위쪽 부분 왼쪽에서 아래 부분 . 강력범죄 부분
                    .crStrongCrimeArea {
                        @include crimeBorder();
                        background-color: var(--white);
                        height: 78%;
                        padding: var(--boxPadding);
                        border-radius: var(--boxBorder);
                        -moz-border-radius: var(--boxBorder);
                        -ms-border-radius: var(--boxBorder);
                        -o-border-radius: var(--boxBorder);
                        -webkit-border-radius: var(--boxBorder);

                        p {
                            // @include textBox();
                            @include crimeTitleStyle();
                            text-align: center;
                            height: 4rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: var(--middleFontSize);
                            margin: 0;
                            padding: 0;
                        }

                        // 강력범죄 차트 그래프 영역 ///
                        .crStrongCrimeGraph {
                            @include graphBorder();
                            // position: relative;
                            // top: -3%;
                            margin-top: 1.2rem;
                            width: 100%;
                            height: 81%;

                        }
                    }
                }

                // 위쪽 부분 중에서 오른쪽 부분
                .crUpRightSideArea {
                    @include crimeBorder();
                    margin-left: 1rem;
                    width: 40%;
                    height: 100%;
                    background-color: var(--white);
                    padding: var(--boxPadding);
                    border-radius: var(--boxBorder);
                    -webkit-border-radius: var(--boxBorder);
                    -moz-border-radius: var(--boxBorder);
                    -ms-border-radius: var(--boxBorder);
                    -o-border-radius: var(--boxBorder);

                    p {
                        @include crimeTitleStyle();
                        text-align: center;
                        height: 4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: var(--middleFontSize);

                    }

                    .crUpRightGraph {
                        margin: 1rem 0;
                        @include graphBorder();
                        height: 86.5%;
                        // overflow: scroll;
                    }
                }
            }

            ::-webkit-scrollbar {
                scrollbar-width: 0;
            }

            //아래쪽 부분!!///////////////////
            .crDownSideArea {
                @include crimeBorder();
                height: 48.5%;
                width: 100%;
                padding: var(--boxPadding);
                background-color: var(--white);
                border-radius: var(--boxBorder);
                -webkit-border-radius: var(--boxBorder);
                -moz-border-radius: var(--boxBorder);
                -ms-border-radius: var(--boxBorder);
                -o-border-radius: var(--boxBorder);

                //real content Area !
                .crDownSideBox {
                    height: 100%;

                    p {
                        @include crimeTitleStyle();
                        text-align: center;
                        height: 4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: var(--middleFontSize);
                        margin-bottom: 1.2rem;
                    }
                }

                // 지능범죄 그래프
                .crDownSideAreaGraph {
                    width: 100%;
                    padding: 0.01rem;
                    height: 85%;
                    @include graphBorder();
                }
            }
        }
    }

}



// 살인, 폭행 P 태그
.crUp2AreaP {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    color: var(--black300);
    font-size: var(--smallFontSize);

    span {
        font-size: 2rem;
    }
}

//위쪽 부분 2개 박스의 공통 클래스
.crUp2Area {
    //border: 1px solid green;
    @include textBox();
    flex: 1;
    border-radius: var(--boxBorder);
    -webkit-border-radius: var(--boxBorder);
    -moz-border-radius: var(--boxBorder);
    -ms-border-radius: var(--boxBorder);
    -o-border-radius: var(--boxBorder);
}


// 살인, 폭행 div
.crUp2AreaSmall {
    width: 55%;
    height: 4rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include crimeTitleStyle();
    border-radius: var(--boxBorder);
    -webkit-border-radius: var(--boxBorder);
    -moz-border-radius: var(--boxBorder);
    -ms-border-radius: var(--boxBorder);
    -o-border-radius: var(--boxBorder);

    p {
        font-size: 2rem;
    }
}

.mainImg {
    filter: drop-shadow(1.7px 1.7px 1.2px #3333337e);
    width: 6rem;
    height: 6rem;
    // border: 1px solid red;
    // text-align: center;
    margin-left: 3rem;
}



// 미디어 쿼리 부분   ---- 노트북 
@media (max-width : 1600px) {
    .crMainWrapper {
        .crMainArea {
            max-width: 120rem;

        }
    }

    .crUpsideArea {
        // height: 40%;
    }

    .crDownSideArea {
        // height: 47.5% !important;
    }

    .crUp2AreaSmall {
        p {
            font-size: var(--smallFontSize);
        }
    }

    // 살인, 폭행 P 태그
    .crUp2AreaP {
        height: 3rem;

        span {
            font-size: var(--smallFontSize);

        }
    }

    .crChartName {
        font-size: var(--middleFontSize) !important;
        height: 3rem !important;
        line-height: 3rem !important;
        color: var(--black300);
    }

    .crUp2AreaSmall {
        height: 3rem;
    }


    // 강력범죄 차트 그래프 영역
    .crStrongCrimeGraph {
        height: 70% !important;
    }

    // 폴력범죄 차트 그래프 영역
    .crUpRightGraph {
        height: 79% !important;
    }

    // 지능범죄 차트 그래프 영역
    .crDownSideAreaGraph {
        height: 77% !important;
    }

    // 큼지마한 박스 패딩 조정하자 
    // 위 오른쪽
    .crUpRightSideArea {
        height: 100% !important;
    }

    //위 왼쪽

    .crStrongCrimeArea {
        font-size: var(--smallFontSize);
        height: 77% !important;

        p {
            font-size: var(--smallFontSize);
        }
    }

    // 아래
    .crDownSideArea {
        height: 47.5% !important;
    }


    .mainImg {
        height: 3rem;
        width: 3rem;
    }
}




// 미디어 쿼리 부분  ---- 스마트폰 
@media (max-width : 650px) {
    $crBackColorMobile: #fff;
    $crBoxColorMobile: #fff2f2;
    $crTextBoxColorMobile: #fff9f9;

    .crMainWrapper {
        background: var(--white);
    }

    .crUp2Area,
    .crStrongCrimeArea,
    .crUpRightSideArea,
    .crDownSideArea {
        background-color: $crBoxColorMobile !important;
    }

    .crUp2AreaSmall,
    .crChartName {
        background-color: $crTextBoxColorMobile !important;
    }

    .crMainWrapper {
        padding: 8.5rem 1rem 1rem;

        .crMainArea {
            overflow: scroll !important;
            padding-top: 2.7rem;
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }

    // 강력범죄 차트 그래프 영역
    .crStrongCrimeGraph {
        width: 100% !important;
        height: 65% !important;
    }

    // 폭력범죄 차트 그래프 영역
    .crUpRightGraph {
        height: 80% !important;
    }

    // 지능범죄 차트 그래프 영역
    .crDownSideAreaGraph {
        margin-top: 0.5rem;
        height: 78% !important;
    }

    // 큼지마한 박스 패딩 조정하자 
    // 위 오른쪽
    .crUpRightSideArea {
        margin-left: 0 !important;
        height: 100%;
        width: 100% !important;
        margin-top: 0.65rem;
        margin-bottom: 2rem;
    }


    .crStrongCrimeArea {
        font-size: var(--smallFontSize);
        width: 92.8vw !important;
        height: 70%;
        margin-top: 0.5rem;

        p {
            font-size: var(--smallFontSize);
        }
    }

    // 아래
    .crDownSideArea {
        height: 17rem !important;

    }



    ////////제일 어려운 위에 작은 박스 2 개 만들기...//////
    /// 
    .crUpsideArea {
        flex-direction: column;
        height: 45rem !important;
        margin-bottom: 0rem !important;
    }

    .crUpLeftSide2Area {
        padding: 0;
        width: 92.7vw;

        .crUp2Area1 {
            width: 50% !important;
        }

        .crUp2Area2 {
            width: 50% !important;
        }

        .mainImg {
            margin: 0;
        }

        // 이미지 부분
        .crUp2AreaP {
            width: 30%;
            align-items: center;
            justify-content: center;

            span {
                text-align: right;
                width: 2.5rem;
                font-size: var(--smallFontSize);
                // border: 1px solid red;
            }

        }
    }
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///                                      css 세부 수정하면 좋을 사항                                                           ///
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.crUp2Area1, .crUp2Area2, .crUpRightSideArea, .crStrongCrimeArea, .crDownSideArea {
    border: 0.1rem solid rgb(246, 179, 255) !important;
    background-color: #ffffffc1 !important;
    box-shadow: 0.18rem 0.18rem 0.5rem rgba(155, 13, 112, 0.625), inset 0 0 0.4rem rgba(188, 62, 176, 0.589) ;
  }

  .crUpRightGraph, .crStrongCrimeGraph, .crDownSideAreaGraph{
    border-radius: 0 0 10px 10px !important;
  }

.crUp2AreaSmall, .crUp2AreaSmall, .crStrongCrimeGraph, .crUpRightGraph, .crDownSideAreaGraph{
    background-color: #fff6f6b5 ;
    box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(171, 13, 171, 0.155) !important;
    border: 0.17rem solid rgb(255, 255, 255);
  }
.crChartName, .crChartName,.crChartName{
    background-color: #eee6ef74 !important;
    box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(171, 13, 171, 0.155) !important;
    border: 0.5px solid rgba(204, 26, 121, 0.116);
}