@import url("./_vars.scss");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin textBox {
    border-radius: var(--borderRadius);
    padding: var(--boxPadding);
    font-size: var(--smallFontSize);
    color: var(--black300);
    background-color: var(--white100);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
    -ms-border-radius: var(--borderRadius);
    -o-border-radius: var(--borderRadius);
}

// 제일 큰 박스! 다 감싸는 박스
.crMainArea {
    padding: var(--commonPadding);
    width: 100vw;
    height: 100vh;
    // border: 1px solid red;
    background: var(--crimebgColor);
}

//패딩 적용 후 남은 영역(2번째 제일 큰 박스)
.crInnerMainArea {
    width: 100%;
    height: 100%;
    // border: 1px solid red;

}

// 위쪽 부분!! 
.crUpsideArea {
    height: 70%;
    width: 100%;
    // background-color: aqua;
    display: flex;
    padding: var(--boxPadding);
}

//위쪽 부분 중에 왼쪽 부분
.crUpLeftSideArea {
    width: 60%;
    // padding: var(--boxPadding);
    height: 100%;
}

//위쪽 부분에서 왼쪽의 위 부분. 2개를 감싸는 부분
.crUpLeftSide2Area {
    // background-color: yellow;
    height: 20%;
    display: flex;
    // padding: var(--boxPadding);
    margin-bottom: 1rem;
}

//위쪽 부분 2개 박스의 공통 클래스
.crUp2Area {
    //border: 1px solid green;
    @include textBox();
    flex: 1;
    border-radius: var(--boxBorder);
    -webkit-border-radius: var(--boxBorder);
    -moz-border-radius: var(--boxBorder);
    -ms-border-radius: var(--boxBorder);
    -o-border-radius: var(--boxBorder);
}

.crUp2Area1 {
    background-color: var(--white);
    display: flex;
}

.crUp2Area2 {
    background-color: var(--white);
    display: flex;
    margin-left: 1rem;
}

// 살인, 폭행 P 태그
.crUp2AreaP {
    // font-family: var(--numfont), var(--fontN);
    width: 40%;
    text-align: right;
    padding-right: 10px;
    color: var(--black300);
    font-size: var(--smallFontSize);
    // border: 1px solid yellow;
}

// 살인, 폭행 div
.crUp2AreaSmall {
    width: 55%;
    height: 100%;
    //margin-top: 2%;
    margin-left: 1rem;
    @include textBox();
}

// 위쪽 부분 왼쪽에서 아래 부분 . 강력범죄 부분
.crStrongCrimeArea {
    background-color: var(--white);
    height: 75%;
    padding: var(--boxPadding);
    border-radius: var(--boxBorder);
    -moz-border-radius: var(--boxBorder);
    -ms-border-radius: var(--boxBorder);
    -o-border-radius: var(--boxBorder);
    -webkit-border-radius: var(--boxBorder);
    //margin-bottom: 1rem;

    p {
        width: 100%;
        height: 3rem;
        @include textBox();
        text-align: center;
        padding: 4px;
    }
}


// 강력범죄 차트 그래프 영역 ///
.crStrongCrimeGraph {
    width: 100%;
    height: 87%;
    border: 1px solid gray;
    margin-top: 1%;
}

// 위쪽 부분 중에서 오른쪽 부분
.crUpRightSideArea {
    margin-left: 1rem;
    width: 40%;
    height: 97%;
    background-color: var(--white);
    padding: var(--boxPadding);
    border-radius: var(--boxBorder);
    -webkit-border-radius: var(--boxBorder);
    -moz-border-radius: var(--boxBorder);
    -ms-border-radius: var(--boxBorder);
    -o-border-radius: var(--boxBorder);

    p {
        @include textBox();
        text-align: center;
        height: 3rem;
        padding: 4px;
    }

    div {
        margin: 1rem;
        border: 1px solid gray;
        height: 90%;
    }
}


//아래쪽 부분!!///////////////////
.crDownSideArea {
    height: 30%;
    width: 98.5%;
    margin-left: 1rem;
    padding: var(--boxPadding);
    background-color: var(--white);
    border-radius: var(--boxBorder);
    //margin: 1rem;
    -webkit-border-radius: var(--boxBorder);
    -moz-border-radius: var(--boxBorder);
    -ms-border-radius: var(--boxBorder);
    -o-border-radius: var(--boxBorder);
}

//real content Area ! 마약범죄 안의 콘텐츠
.crDownSideBox {
    height: 100%;
}

.crDownSideBoxText {
    @include textBox();
    text-align: center;
    height: 3rem;
    padding: 4px;
}

// 그래프 넣는 박스
.crDownSideAreaGraphBox {
    display: flex;
    margin-top: 1%;
    height: 80%;
}

// 해당지역 , 경기도 텍스트넣는 박스
.crDownSideBoxTextP {
    width: 8rem;
    // border: 1px solid red;
    height: 100%;
    // line-height: 3rem;

    p {
        height: 50%;
        // border: 1px dodgerblue solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// 마약범죄 그래프
.crDownSideAreaGraph {
    width: 100%;
    border-radius: var(--boxBorder);
    border: 1px solid gray;
    -webkit-border-radius: var(--boxBorder);
    -moz-border-radius: var(--boxBorder);
    -ms-border-radius: var(--boxBorder);
    -o-border-radius: var(--boxBorder);
}