#header {
    width: 100%;
    position: absolute;
    top: 1.875rem;
    padding: 20px;
    border: 1px solid #bbb;
    text-align: center;
    font-size: var(--bigFontSize);
    background-color: var(--white);
    // display: none;
}
//2025-02-19 헤더 임시