:root {
    --fontN: 'NanumSquareNeo';
    --bigFontSize : 25px;
    --middleFontSize: 20px;
    --smallFontSize : 15px;
    --tinySize : 13px ;



    --mainBgColor: to bottom,#fff,blue;
    // --pointColor: 

    // 범죄,사고,날씨 페이지 bgColor
    --crimebgColor: #F9AFAF;
    --accidentbgColor:to bottom, #fff, #F3E796;
    --weatherbgColor: #A7EEDA;
    --borderColor: #dedede;
    --headerPointColor: #d9d9d9;
    
    --headerFontColor: #AEAEAE; // header
    --defaultBlack: #121212; // content
    
    --black: #000;
    --black100: #111;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #555;

    --white: #fff;
    --white100: #eee;
    --white200: #ddd;
    --white300: #ccc;
    --white400: #bbb;
    --white500: #aaa;

    // --allHeight : 100vh;
    // --allWidth : 100vw;
    --commonPadding: 120px 40px 40px 40px;
    

    /* 폰트 셋팅 */
    font-family: var(--numfont), var(--fontN);
    font-size: 10px;
    line-height: 1.5;
    font-weight: 400;

    /* 폰트 최적화 */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}
