:root {
    ////////////////////폰트 설정/////////////////
    --fontN: 'IM_Hyemin-Bold';
    --bigFontSize: 25px;
    --middleFontSize: 20px;
    --smallFontSize: 15px;
    --tinySize: 13px;
    ////////////////////폰트 설정/////////////////


    --mainBgColor: to bottom, #fff, blue;
    // --pointColor: 

    // 범죄,사고,날씨 페이지 bgColor
    --crimebgColor: linear-gradient(to bottom, #ffffff9b, #ffc3f667, #ffafd262, #e6afff24);
    --accidentbgColor: to bottom, #fdf4ff82, #f8ff947b, #ffddb8, #fff94e76;
    --weatherbgColor: #A7EEDA;
    --borderColor: #dedede;
    --headerPointColor: #d9d9d9;


    /////////////////글씨 색상 ///////////////
    --headerFontColor: #AEAEAE; // header
    --defaultBlack: #121212; // content
    /////////////////글씨 색상 ///////////////



    --black: #000;
    --black100: #111;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #555;

    --white: #fff;
    --white100: #eee;
    --white200: #ddd;
    --white300: #ccc;
    --white400: #bbb;
    --white500: #aaa;

    // --allHeight : 100vh;
    // --allWidth : 100vw;

    --boxPadding: 15px; // 박스 패딩
    --gapSize: 10px; // 플렉스 갭 
    //////////패딩 설정////////////
    --commonPadding: 120px 40px 40px 40px; // 섹션 패딩
    //////////패딩 설정////////////


    ////////보더 래디우스 ///////
    --borderRadius: 5px 5px 0 0; // text 박스 보더
    --boxBorder: 10px; // 일반 박스 보더

    ///////////background Crime /////////
    --mayacBack: #f7f0ed;

    /* 폰트 셋팅 */
    font-family: var(--numfont), var(--fontN);
    font-size: 10px;
    line-height: 1.5;
    font-weight: 400;

    /* 폰트 최적화 */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // -webkit-text-size-adjust: 100%; // 여기만 계속 빨간줄 떠서 일단 주석 (02.20 20:23_유진)

    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}