@use "./mixin" as *;

// =====================================================================
@mixin titleHead() {
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  padding: var(--boxPadding);
  background-color: var(--white);
}

@mixin weatherTitleStyle() {
  background: #eff5f5;
  border-radius: 1rem 1rem 0 0;
  box-shadow: inset 0px 3px 3px #dadada;
}
// =====================================================================
$weatherTopSection-height: 50%;
$weatherTrend-height: calc(100% - $weatherTopSection-height);
$weather-backgroundColor: linear-gradient(#fff, #c6f0e4);
// =====================================================================
.weatherPage {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  gap: var(--gapSize);
  padding: var(--commonPadding);
  background: $weather-backgroundColor;

  .weatherLayOutArea {
    max-width: 150rem;
    height: 100%;
    margin: 0 auto;
  }

  .weatherTopSection {
    display: flex;
    justify-content: space-between;
    gap: var(--gapSize);
    height: $weatherTopSection-height;

    .weatherSummaryWrap {
      width: 20%;
      gap: var(--gapSize);
      height: 100%;

      .weatherStatBox {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        height: 100%;

        .weatherStat {
          @include titleHead();
          font-size: var(--middleFontSize);
          text-align: center;
          height: calc(33.3333% - 0.6rem);
          padding: 1rem 1.5rem;
          display: flex;

          .weatherStatTitle{
            display: flex;
            height: 100%;
            width: 60%;

            img{
              width: 40%;
              object-fit: contain;
              margin-left: 1rem;
            }
          }

          .weatherStatValue{
            width: 50%;
            height: 100%;
            @include weatherTitleStyle();
            border-radius: 1rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .weatherGraphWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 3;
    gap: var(--gapSize);
    height: 100%;

    .weatherInfoListBox {
      @include titleHead();
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;

      p {
        text-align: center;
        font-size: var(--bigFontSize);
        color: var(--headerFontColor);
        margin-bottom: 0.8rem;
        @include weatherTitleStyle();
      }

      .weatherInfoTableWrapper {
        flex: 1;  
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 10px;               
          background-color: #f1f1f1;
        }
        &::-webkit-scrollbar-track {
          background-color: #f1f1f1; 
        }
        &::-webkit-scrollbar-thumb {
          background: #b2dfdb;      
          border-radius: 10px;     
          border: 2px solid #f1f1f1;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #80cbc4;      
        }
      }

      .weatherInfoTable {
        width: 100%;
        border-collapse: collapse;
        font-size: var(--smallFontSize);
        color: #333;

        thead {
          position: sticky;
          top: 0;
          background: #f9f9f9;
          z-index: 1;
        }

        th,
        td {
          padding: 0.5rem;
          text-align: left;
          border-bottom: 1px dashed #ddd;
          text-indent: 1rem;
        }

        th{ 
          border-radius: .3rem 0 0;
          background: #f9f9f9;
        }

        .weatherDesIcon{
          margin: 0;
          width: 4.3rem;
          border-radius: 50%;
          box-shadow: 0px 0px .6rem #80cbc373;
          padding: 0;
        }
      }
    }

    .weatherWindRadarSection {
      @include titleHead();
      width: 40%;
      height: 100%;

      p {
        text-align: center;
        font-size: var(--bigFontSize);
        color: var(--headerFontColor);
        margin-bottom: 0.8rem;
        @include weatherTitleStyle();
      }
    }

    .weatherWindRadarBox {
      width: 75%;
      height: 75%;
      margin: 2rem auto;
    }
  }

  .weatherTrendWrap {
    width: 100%;
    margin-top: var(--gapSize);
    height: calc($weatherTrend-height - var(--gapSize));

    .weatherTrendBox {
      @include titleHead();
      width: 100%;
      height: 100%;
      padding: 1rem;

      p {
        text-align: center;
        font-size: var(--bigFontSize);
        color: var(--headerFontColor);
        margin-bottom: 0.8rem;
        @include weatherTitleStyle();
      }
    }

    .weatherTrendGraph {
      height: 80%;
    }
  }
}
