@use "./mixin" as *;

// =====================================================================
// == mixin == 
@mixin titleHead() {
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  padding: var(--boxPadding);
  background-color: var(--white);
}

@mixin weatherTitleStyle() {
  background: #eff5f5;
  border-radius: 10px 10px 0 0;
  box-shadow: inset 0px 3px 3px #dadada;
  color: var(--black300);
}

@mixin pTitleStyle(){
  font-size: var(--middleFontSize);
  padding: .5rem 0;
}

// =====================================================================
// == 변수 == 
$weatherTopSection-height: 50%;
$weatherTrend-height: calc(100% - $weatherTopSection-height);
$weather-backgroundColor: linear-gradient(#fff, #c6f0e4);
// =====================================================================

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.weatherPageWrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  gap: var(--gapSize);
  overflow-y: auto;
  // --commonPadding: 120px 40px 40px 40px; // 섹션 패딩
//   padding: 120px 40px 0 40px;
  padding: var(--commonPadding);
  background: linear-gradient(#fff, #bce6db);
}

.weatherLayOutArea {
  width: 100%;
  height: 100%;
  max-width: 150rem;
  margin: 0 auto;
}

/* 상단 영역 (요약 + 그래프) */
.weatherTopSection {
  display: flex;
  justify-content: space-between;
  gap: var(--gapSize);
  height: 50%;
}
.weatherTopSection .weatherSummaryWrap {
  width: 20%;
  gap: var(--gapSize);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.weatherTopSection .weatherSummaryWrap .weatherStatBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}
.weatherTopSection .weatherSummaryWrap .weatherStatBox .weatherStat {
  /* titleHead mixin */
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  padding: var(--boxPadding);
  background-color: var(--white);
  /* 추가 스타일 */
  font-size: var(--middleFontSize);
  text-align: center;
  height: calc(33.3333% - 0.6rem);
  padding: 1rem 1.5rem;
  display: flex;
}
.weatherTopSection .weatherSummaryWrap .weatherStatBox .weatherStat .weatherStatTitle {
  display: flex;
  height: 100%;
  width: 60%;
}
.weatherTopSection .weatherSummaryWrap .weatherStatBox .weatherStat .weatherStatTitle img {
  width: 40%;
  height: 95%;
  object-fit: contain;
  margin-left: 1rem;
  filter: drop-shadow(1.7px 1.7px 1.2px #3333337e);
}
.weatherTopSection .weatherSummaryWrap .weatherStatBox .weatherStat .weatherStatValue {
  width: 50%;
  height: 100%;
  /* weatherTitleStyle mixin */
  background: #eff5f5;
  border-radius: 10px;
  box-shadow: inset 0px 3px 3px #dadada;
  color: var(--black300);
  /* 추가 스타일 */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 그래프 영역 ( 날씨리스트 + 풍향/풍속 레이더) */
.weatherGraphWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 3;
  gap: var(--gapSize);
  height: 100%;
}
.weatherGraphWrap .weatherInfoListBox {
  /* titleHead mixin */
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  padding: var(--boxPadding);
  background-color: var(--white);
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.weatherGraphWrap .weatherInfoListBox p {
  text-align: center;
  margin-bottom: 0.8rem;
  /* weatherTitleStyle + pTitleStyle mixins */
  background: #eff5f5;
  border-radius: 10px 10px 0 0;
  box-shadow: inset 0px 3px 3px #dadada;
  color: var(--black300);
  font-size: var(--middleFontSize);
  padding: 0.5rem 0;
}
.weatherGraphWrap .weatherInfoListBox .weatherInfoTableWrapper {
  flex: 1;
  overflow-y: auto;
}
.weatherGraphWrap .weatherInfoListBox .weatherInfoTableWrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}
.weatherGraphWrap .weatherInfoListBox .weatherInfoTableWrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.weatherGraphWrap .weatherInfoListBox .weatherInfoTableWrapper::-webkit-scrollbar-thumb {
  background: #b2dfdb;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
.weatherGraphWrap .weatherInfoListBox .weatherInfoTableWrapper::-webkit-scrollbar-thumb:hover {
  background: #80cbc4;
}
.weatherGraphWrap .weatherInfoListBox .weatherInfoTable {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--smallFontSize);
  color: #333;
}
.weatherGraphWrap .weatherInfoListBox .weatherInfoTable thead {
  position: sticky;
  top: 0;
  background: #f9f9f9;
  z-index: 1;
}
.weatherGraphWrap .weatherInfoListBox .weatherInfoTable th,
.weatherGraphWrap .weatherInfoListBox .weatherInfoTable td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px dashed #ddd;
}
.weatherGraphWrap .weatherInfoListBox .weatherInfoTable th {
  text-indent: 8px;
  border-radius: 0.3rem 0 0;
  background: #f9f9f9;
}
.weatherGraphWrap .weatherInfoListBox .weatherInfoTable td {
  text-indent: 1.05rem;
}
.weatherGraphWrap .weatherInfoListBox .weatherInfoTable .weatherDesIcon {
  margin: 0;
  width: 4.3rem;
  border-radius: 50%;
  box-shadow: 0px 0px 0.6rem #80cbc373;
  padding: 0;
}
.weatherGraphWrap .weatherWindRadarSection {
  /* titleHead mixin */
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  padding: var(--boxPadding);
  background-color: var(--white);
  width: 35%;
  height: 100%;
}
.weatherGraphWrap .weatherWindRadarSection p {
  text-align: center;
  /* pTitleStyle + weatherTitleStyle mixins */
  background: #eff5f5;
  border-radius: 10px 10px 0 0;
  box-shadow: inset 0px 3px 3px #dadada;
  color: var(--black300);
  font-size: var(--middleFontSize);
  padding: 0.5rem 0;
}
.weatherGraphWrap .weatherWindRadarBox {
  position: relative;
  width: 100%;
  height: 81.5%;
  margin: 2rem auto;
  padding: 1rem 0 0;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #bdbdbd;
  background: #F9F9F9;
}

/* 하단 기상 추세 영역 */
.weatherTrendWrap {
  width: 100%;
  // margin-top: var(--gapSize);
  height: calc(100% - 50% - var(--gapSize));
}
.weatherTrendWrap .weatherTrendBox {
  /* titleHead mixin */
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  padding: var(--boxPadding);
  background-color: var(--white);
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.weatherTrendWrap .weatherTrendBox p {
  text-align: center;
  /* pTitleStyle + weatherTitleStyle mixins */
  background: #eff5f5;
  border-radius: 10px 10px 0 0;
  box-shadow: inset 0px 3px 3px #dadada;
  color: var(--black300);
  font-size: var(--middleFontSize);
  padding: 0.5rem 0;
}
.weatherTrendWrap .weatherTrendGraph {
  height: 80%;
}
// =====================================================================
// == 반응형 (max-width: 1300px) ==

$mediaTitlePadding : 11rem;


@media (max-width: 1200px) {
    body{
        width: 100vw;
        overflow-y: auto;
        background: #fff;
    }
    .weatherPageWrapper {
        background: #fff;
        height: auto;
        overflow-y: auto;
        height: auto;
        padding: $mediaTitlePadding 3rem 3rem; // 전체 패딩 조정
    }
    .weatherLayOutArea {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .weatherTopSection {
        display: flex;
        flex-direction: column;
        gap: var(--gapSize);
        height: auto;
    }

    .weatherTopSection .weatherSummaryWrap {
        display: flex;
        width: 100%;
        height: auto;
        gap: var(--gapSize);
    }

    .weatherTopSection .weatherSummaryWrap .weatherStatBox {
        flex-direction: row; 
        width: 100%;
        gap: 20px;
        justify-content: space-around;
        height: auto;
    }

    .weatherTopSection .weatherSummaryWrap .weatherStatBox .weatherStat .weatherStatValue{
        height: 3em;
    }

    .weatherGraphWrap .weatherInfoListBox{
        width: 100%;
    }

    .weatherGraphWrap  {
        display: flex;
        flex-direction: column;
        gap: var(--gapSize);
        width: 100%;
        height: auto;
    }

    .weatherGraphWrap .weatherInfoListBox,
    .weatherGraphWrap .weatherWindRadarSection {
        width: 100%;
        height: auto;
    }


    .weatherGraphWrap .weatherInfoListBox p {
        font-size: 1.5rem;
    }
    .weatherGraphWrap .weatherWindRadarSection{
        // display: none;
        width: 100%;
        height: auto;
    }
    .weatherPageWrapper .weatherTrendWrap{
        margin-top: var(--gapSize);
        display: inline-block;
    }

    //

    // ========== Box BackGround Color ==========
    $mint-background-color: #ecf5f3;
    .weatherGraphWrap .weatherInfoListBox, 
    .weatherTopSection .weatherSummaryWrap .weatherStatBox .weatherStat,
    .weatherGraphWrap .weatherWindRadarSection,
    .weatherTrendWrap .weatherTrendBox{
        background-color: $mint-background-color;
    }

    // ========== Title Box Color ==========
    .weatherGraphWrap .weatherInfoListBox p ,
    .weatherTopSection .weatherSummaryWrap .weatherStatBox .weatherStat .weatherStatValue,
    .weatherGraphWrap .weatherWindRadarSection p,
    .weatherTrendWrap .weatherTrendBox p{
        background: #ffffff !important;
    }

    // ========== 원그래프 영역 ==========
    .weatherGraphWrap .weatherWindRadarBox {
      background: #ffffff80;
    }

}

@media (max-width: 800px){
    .weatherPageWrapper {
        overflow-y: scroll;
        height: auto;
        padding: 8rem 1rem 1rem;
    }
}

@media (max-width: 700px) {
    .weatherTopSection .weatherSummaryWrap .weatherStatBox .directionStat{
        display: none;
    }
    .weatherGraphWrap .weatherInfoListBox .weatherInfoTable .weatherDesIcon {
        width: 2rem;
    }
    .weatherForecast{
        display: none !important;
    }
}

@media (max-width: 500px) {

  .weatherTopSection .weatherSummaryWrap .weatherStatBox .weatherStat .weatherStatTitle {
    font-size: var(--smallFontSize);
    width: 60%;
  }
  .weatherTopSection .weatherSummaryWrap .weatherStatBox .weatherStat .weatherStatTitle img {
    height: 100%;
    margin-left: .3rem;
  }
  .weatherTopSection .weatherSummaryWrap .weatherStatBox .weatherStat .weatherStatValue {
    font-size: var(--smallFontSize);
  }

    .weatherStatValue{
      font-size: var(--smallFontSize);
    }

    .weatherPageWrapper {
        padding: 8.5rem 1rem 1rem;
    }
}

@media (max-width: 440px) {
    .weatherPageWrapper {
        padding: 11rem 1rem 1rem;
    }
}

